.App {
  display: flex;
  color: #171617;
  height: 100vh;
}

button {
  // background-color: #8ececa;
  // background-color: #bc428b;
  border: none;
  padding: 0 10px;
  height: 34px;
  outline: none;
}

input {
  height: 30px;
  padding: 0;
}


@media screen and (max-width: 1000px) {
  .App {
    height: auto;
    flex-direction: column;
  }
}