.Header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 20px 0 40px;
  background-color: #8e8b8b;
  width: 40%;
}

.post-wrap {
  display: flex;
  flex-direction: column;
  width: 75%;
}

textarea {
  margin: 12px 0 20px;
  max-width: 98.5%;
  min-width: 98.5%;
}

@media screen and (max-width: 1000px) {
  .Header {
    width: 100%;
  }
}